@using WebMatrix.Data

@{
    // Check for session
    if (Session["id_user"] == null)
    {
        Response.Redirect("~/Login.cshtml");
    }

    int userId = Convert.ToInt32(Session["id_user"]);
    int homeworkId = 0;
    if (Request.QueryString["homework"] != null)
    {
        homeworkId = Request.QueryString["homework"].AsInt();
        // Redirect if false class
        if (homeworkId == 0)
        {
            Response.Redirect("~/Classes");
        }
    }

    // Page variables
    int points = 0;

    // Fetch the homework
    Homework.Homework homework = Homework.Homework.GetHomework(homeworkId);

    if (homework.HomeworkDone(userId))
    {
        Response.Redirect("~/Class?class=" + homework.GetClassId());
    }

    // Fetch questions
    List<Homework.Question> questions = homework.GetQuestions();

    // Fetch answers
    List<Homework.Answer> answers = Homework.Answer.GetAnswers(homeworkId);

    if (IsPost)
    {
        // Foreach through post request
        foreach (string s in Request.Form.Keys)
        {
            points += Homework.Answer.GetAnswerPoints(Request.Form[s].AsInt());
        }

        // Set result
        homework.SetResult(userId, points);

        // Redirect to class page
        Response.Redirect("~/Class?class=" + homework.GetClassId());
    }

}

@RenderPage("~/Layout/Header.cshtml")

<div class="container">
    <h1>@homework.GetHomeworkDescription()</h1>
    <form method="POST" id="form">
        @{
        int count = 0;
        foreach (Homework.Question question in questions)
        {
            count++;

            <div id="question_@count" class="form-group">
                <h2>@question.GetQuestion()</h2>

                @foreach (Homework.Answer answer in answers)
            {
                if (answer.GetQuestionId() == count)
                {
                    <div class="radio">
                        <label><input type="radio" name="question_@answer.GetQuestionId()" value="@answer.GetAnswerId()">@answer.GetAnswer()</label>
                    </div>
            }
        }

            </div>

    }
        }
        <input type="submit" class="btn btn-success" value="Submit" />
    </form>

</div>

@RenderPage("~/Layout/Footer.cshtml");
