@{
    // Check for session
    if (Session["id_user"] == null)
    {
        Response.Redirect("~/Login.cshtml");
    }

    // Edit housecup cookie
    if (Request.Cookies["seenHouseCup"] != null) {
        string expireDate = "31-12-" + DateTime.Now.Year.ToString() + " 00:00:00";
        Response.Cookies["seenHouseCup"].Value = "true";
        Response.Cookies["seenHouseCup"].Expires = DateTime.Parse(expireDate);
    }

    // Fetch housecups
    List<Housecup> housecups = Housecup.GetHousecups();
}

@RenderPage("~/Layout/header.cshtml")

<div class="background-special">
    <div class="container housecup-container">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Year</th>
                    <th scope="col">House</th>
                    <th scope="col">Points</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Housecup housecup in housecups)
                {
                    <tr>
                        <th>@housecup.GetYear()</th>
                        <td>@housecup.GetHouseName()</td>
                        <td>@housecup.GetPoints()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@RenderPage("~/Layout/footer.cshtml")

<script>
    $(document).ready(function () {
        $('body').css("background", "url(Assets/Img/first.png)");
        $('body').css("background-size", "cover");
    });
</script>