@using WebMatrix.Data

@{
    // Check for session
    if (Session["id_user"] == null)
    {
        Response.Redirect("~/Login.cshtml");
    }

    // Fetch my classes
    int userId = Convert.ToInt32(Session["id_user"]);
    List<Class> classes = Class.GetMyClasses(userId);

    var db = Database.Open("HarryPotter");

    int user_id = (int)(Session["id_user"]);
    var house_id = db.QueryValue("SELECT house_id FROM users WHERE user_id = @0", user_id);
    var firstname = db.QueryValue("SELECT firstname FROM users WHERE user_id = @0", user_id);
    var lastname = db.QueryValue("SELECT lastname FROM users WHERE user_id = @0", user_id);
    var house = db.QueryValue("SELECT house_name FROM houses WHERE house_id = @0", house_id);
}

@RenderPage("~/Layout/Header.cshtml")

<div class="profile-top">
    <img id="person-profile" src="~/Assets/Img/Houses/@house/logo.png">
    <div class="profile-background">
        <img id="background-profile" src="~/Assets/Img/Houses/@house/flag.jpg">
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <h1>Profile</h1>
            <div class="content-container">
                <div class="profile-content">
                   <div class="firstname">@firstname</div>  <div class="lastname">@lastname</div>
                </div>
            </div>
            <div id="demo">
                <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
                <div class="table-responsive-vertical shadow-z-1">
                    <!-- Table starts here -->
                    <table id="table" class="table table-hover table-mc-light-blue">
                        <thead>
                            <tr>
                                <th>Class</th>
                                <th>Test</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Class item in classes)
                            {
                                <tr>
                                    <td>@item.GetClassname()</td>
                                    <td>achieved/failed</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>

@RenderPage("~/Layout/Footer.cshtml");